/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Layaout*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: Arial, sans-serif;
}

body {
  background-image: url(../assets/img/img-inicio/c0e88a72-9087-4822-9141-facbef991bc4\ 3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .logo img {
  height: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 20px;
  padding-right: 200px;
  text-shadow: 1px 1px 3px #333;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  border-radius: 10px;
  border: solid 1px;
  background-color: rgba(128, 128, 128, 0.596);
  padding: 10px;
}

.navbar li:hover {
  transform: scale(1.2);
  filter: drop-shadow(4px 4px 8px rgba(168, 168, 168, 0.685));
  transform: all 3000ms cubic-bezier(0.43, -0.04, 0.05, 1.01);
}

.promo {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 250px;
  background-image: url("../assets/img/img-inicio/Img-promos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: rgba(0, 0, 0, 0.1843137255) solid 2px;
}
.promo h2 {
  margin: 0;
  font-size: 40px;
}
.promo p {
  margin: 10px 0;
  font-size: 25px;
}

.productos {
  width: 100%;
  height: max-content;
  padding: 20px;
  text-align: center;
  margin: 10px;
}
.productos h3 {
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  text-decoration: underline;
}
.productos h2 {
  margin: 50px;
  font-size: xx-large;
  padding: 10px;
  text-shadow: 2px 2px 5px #333;
}
.productos img {
  width: 300px;
  height: 300px;
  border-color: gray;
  border-style: solid;
  border-radius: 50%;
  object-fit: cover;
  margin: 50px;
}
.productos p {
  margin: 10px 0 0;
}

.productos a, button:hover {
  transform: scale(1.2);
  filter: drop-shadow(2px 2px 6px rgba(39, 255, 10, 0.349));
  transform: all 3000ms cubic-bezier(0.32, 0.44, 0.79, 0.96);
}

.boton-vermas,
.boton-tienda {
  padding: 20px 40px;
  background: #65946F;
  color: #fff;
  border-color: black;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 5px #333;
}

.consejos {
  width: 100%;
  height: auto;
}
.consejos h2 {
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  margin: 100px;
  padding-top: 50px;
  text-align: center;
  text-decoration: underline;
}
.consejos .img-consejos1 {
  display: flex;
  justify-content: start;
  height: 400px;
  width: 750px;
  float: left;
}
.consejos .consejos-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.consejos .consejos-1 p {
  margin: 0;
  padding: 100px 0 70px 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
}
.consejos .consejos2 {
  gap: 20px;
}
.consejos .consejos2 p {
  margin: 0;
  padding: 100px 0 70px 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
}
.consejos .consejos2 h3 {
  font-size: 30px;
  padding: 200px 50px 50px;
  text-align: center;
  text-decoration: underline;
}
.consejos .img-consejos2 {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 750px;
}

main .productos-tienda {
  display: flex;
  justify-content: center;
}

.h3-productos {
  display: flex;
  text-align: start;
  padding: 100px;
  text-decoration: underline;
  font-size: 30px;
  font-family: cursive;
  padding-top: 200px;
  text-shadow: 2px 2px 5px #333;
}

.grid-productos {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 9.5rem;
  text-align: center;
  padding-left: 150px;
}
.grid-productos p {
  font-size: 30px;
  text-shadow: 1px 1px 4px #333;
}

.grid-productos2 {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 9.5rem;
  text-align: center;
  padding-left: 150px;
}
.grid-productos2 p {
  font-size: 30px;
  text-shadow: 1px 1px 4px #333;
}

.grid-productos3 {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 9.5rem;
  text-align: center;
  padding-left: 150px;
}
.grid-productos3 p {
  font-size: 30px;
  text-shadow: 1px 1px 4px #333;
}

.grid-productos4 {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 9.5rem;
  text-align: center;
  padding-left: 150px;
  padding-bottom: 200px;
}
.grid-productos4 p {
  font-size: 30px;
  text-shadow: 1px 1px 4px #333;
}

.productos-tienda img {
  width: 300px;
  height: 300px;
  border-color: gray;
  border-style: solid;
  border-radius: 50%;
  object-fit: cover;
}

.productos-tienda img:hover {
  transform: scale(1.2);
  filter: drop-shadow(2px 2px 6px rgb(255, 174, 0));
  transform: all 3000ms cubic-bezier(0.32, 0.44, 0.79, 0.96);
}

.productos-tienda span {
  text-decoration: underline;
  color: rgb(248, 144, 59);
  font-size: 25px;
  text-shadow: 1px 1px 4px #333;
}

section button {
  font-size: 20px;
  margin: 10px;
  padding: 7px;
  border-radius: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #cac2ac;
}

.productos-tienda-final {
  display: flex;
  justify-content: center;
}
.productos-tienda-final h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px 5px #333;
  text-decoration: underline;
}

div .boton-wsp {
  display: flex;
  justify-content: center;
}
div .boton-wsp .boton-tienda {
  padding: 10px 20px;
  background: #65946F;
  color: #fff;
  border-color: black;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 5px #333;
}

.boton-wsp {
  margin: 20px 20px 100px 20px;
  text-align: center;
}

.pag-coonsejos {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  padding: 50px 50px 50px 50px;
  margin-top: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 5px #333;
  text-decoration: underline;
  border: #333 solid 5px;
  background-color: rgba(130, 202, 145, 0.5333333333);
  border-radius: 70px;
}

.container-consejos {
  position: relative;
  width: 100%;
}
.container-consejos img {
  width: 100%;
  height: auto;
  padding: 100px 0 50px 0;
}
.container-consejos .texto-encima {
  padding-right: 50px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50% -50%);
  font-weight: bold;
  text-shadow: 2px 2px 4px #333;
}
.container-consejos .texto-encima p {
  font-size: 25px;
}
.container-consejos .texto-encima h3 {
  font-size: 40px;
}
.container-consejos .texto-encima2 {
  padding-left: 50px;
  position: absolute;
  right: 50%;
  bottom: 35%;
  transform: translate(-50% -50%);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #333;
}
.container-consejos .texto-encima2 p {
  font-size: 30px;
}
.container-consejos .texto-encima2 h3 {
  font-size: 40px;
}

.texto-consejos-final {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 80px;
}
.texto-consejos-final h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  border: #000000 solid 5px;
  background-color: rgba(130, 202, 145, 0.5333333333);
  padding: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 30px;
}
.texto-consejos-final h4 {
  padding: 50px;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.nosotros-titulo {
  width: 100%;
  font-family: cursive;
  font-size: 60px;
  padding: 20px 20px 20px 10px;
  background-color: rgba(130, 202, 145, 0.5333333333);
  border: #333 solid 6px;
  border-radius: 20px;
  text-shadow: 2px 2px 4px #333;
  text-align: center;
}

.nosotros {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 100px;
}
.nosotros h2 {
  padding: 40px 60px 100px 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  line-height: 100px;
  text-shadow: 2px 2px 4px #333;
}
.nosotros h3 {
  padding: 40px 60px 100px 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  line-height: 100px;
}

.contactos-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "p1 p1" "c2 r1";
}

.pag-contactos {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  grid-area: p1;
  padding-top: 100px;
  text-shadow: 2px 2px 4px #333;
}

.correo {
  display: flex;
  flex-direction: column;
  padding: 100px 100px 100px 300px;
  font-size: 30px;
  grid-area: c2;
}
.correo h4 {
  font-size: 40px;
  text-decoration: underline;
  text-shadow: 2px 2px 4px #333;
}
.correo .img-correo {
  padding: 20px;
  display: flex;
}
.correo img {
  width: 32px;
}

.redes-grid {
  display: flex;
  flex-direction: column;
  padding: 100px 100px 100px 300px;
  font-size: 30px;
  grid-area: r1;
}
.redes-grid h4 {
  font-size: 40px;
  padding-bottom: 20px;
  text-decoration: underline;
  text-shadow: 2px 2px 4px #333;
}
.redes-grid img {
  height: 32px;
  padding-left: 40px;
}

.redes-grid img:hover {
  transform: scale(1.2);
  filter: drop-shadow(2px 2px 6px rgb(97, 97, 97));
  transform: all 3000ms cubic-bezier(0.32, 0.44, 0.79, 0.96);
}

.formulario {
  height: auto;
  text-align: center;
  font-size: 40px;
  border: #333 solid 5px;
  background-color: rgba(130, 202, 146, 0.4588235294);
}
.formulario h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-decoration: underline;
  text-shadow: 2px 2px 4px #333;
  padding: 30px;
}
.formulario p {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding: 30px;
}
.formulario form {
  width: 100%;
  margin: 0;
  padding: 50px;
}
.formulario form input {
  font-size: 30px;
  border: #333 solid 4px;
  border-radius: 10px;
  width: 600px;
}
.formulario .button {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  width: 200px;
  background-color: rgba(77, 77, 77, 0.7725490196);
  color: #fff;
}

.ubicacion-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "p1 p1" "c2 r1";
}

.pag-ubicacion {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  grid-area: p1;
  padding-top: 100px;
  text-shadow: 2px 2px 4px #333;
}

.img-ubicacion {
  padding: 20px;
  display: flex;
}

section .ubicacion-1 {
  padding: 50px 0 100px 200px;
}
section .ubicacion-1 p {
  font-size: 28px;
  text-align: center;
}
section .ubicacion-1 img {
  width: 40px;
  height: 40px;
}

section .ubicacion-c {
  padding: 50px 0 100px 400px;
}
section .ubicacion-c p {
  font-size: 28px;
  text-align: center;
}
section .ubicacion-c img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.footer {
  width: 100%;
  padding: 40px 0;
  height: auto;
  background: #65946F;
  background-size: contain;
  color: #000000;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
.footer .container .contacts, .footer .container .location, .footer .container .social {
  flex: 1;
  text-align: center;
  padding: 100px;
}
.footer .container .contacts h3, .footer .container .location h3, .footer .container .social h3 {
  text-decoration: underline;
  font-size: 30px;
}
.footer .container .contacts p, .footer .container .location p, .footer .container .social p {
  font-size: 25px;
  text-align: center;
}

/*media Q*/
@media (max-width: 768px) {
  header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav ul {
    padding-right: 0;
    gap: 10px;
  }
  .promo {
    padding: 100px;
  }
  .productos {
    flex-direction: column;
    align-items: center;
  }
  .productos img {
    width: 200px;
    height: 200px;
  }
  .consejos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .consejos img {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .consejos p {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  /*----------------------------------------*/
  .grid-productos, .grid-productos2, .grid-productos3, .grid-productos4 {
    gap: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .grid-productos img, .grid-productos2 img, .grid-productos3 img, .grid-productos4 img {
    width: 250px;
    height: 250px;
    margin: 40px;
  }
  .grid-productos p, .grid-productos2 p, .grid-productos3 p, .grid-productos4 p {
    font-size: 20px;
  }
  .h3-productos {
    padding: 40px;
    font-size: 30px;
  }
  .grid-productos {
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr 1fr;
  }
  .grid-productos2 {
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr 1fr;
  }
  .grid-productos3 {
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr 1fr;
  }
  .grid-productos4 {
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr 1fr;
  }
  /*-----------------------------------------*/
  .container-consejos {
    display: none;
  }
  .encabezado {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container h3 {
    font-size: 20px;
  }
  .contacts {
    padding: 50px;
  }
  .location {
    padding: 50px;
  }
  .social {
    padding: 50px;
  }
  /*-----------------------------------------------------------*/
  .nosotros-titulo {
    justify-content: start;
  }
  /*pagina 5 CONTACTOS*/
  .pag-contactos {
    width: 700px;
  }
  .formulario {
    width: 700px;
  }
  .contactos-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ubicacion-grid {
    display: flex;
    flex-direction: column;
  }
  section .ubicacion-c {
    padding-left: 180px;
  }
  .pag-ubicacion h2 {
    font-size: 50px;
  }
}
@media (max-width: 425px) {
  main {
    width: 100%;
    height: auto;
  }
  header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav ul {
    font-size: small;
    padding-right: 0;
    gap: 7px;
  }
  .promo {
    padding: 40px;
  }
  .productos {
    flex-direction: column;
    align-items: center;
  }
  .productos img {
    width: 150px;
    height: 150px;
    margin: 20px;
  }
  .boton-vermas {
    padding: 5px 10px;
    font-size: 18px;
  }
  .consejos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .consejos h2 {
    font-size: large;
    margin: 20px;
  }
  .consejos .img-consejos1 {
    width: 100%;
    height: auto;
  }
  .consejos .img-consejos2 {
    width: 100%;
    height: auto;
  }
  .consejos .consejos-1 p {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
  }
  .consejos .consejos2 p {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
  }
  /*-----------------------------------------------------------*/
  .grid-productos, .grid-productos2, .grid-productos3, .grid-productos4 {
    gap: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .grid-productos img, .grid-productos2 img, .grid-productos3 img, .grid-productos4 img {
    width: 150px;
    height: 150px;
    margin: 20px;
  }
  .grid-productos p, .grid-productos2 p, .grid-productos3 p, .grid-productos4 p {
    font-size: 20px;
  }
  .h3-productos {
    padding: 40px;
    font-size: 25px;
  }
  .grid-productos {
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
  }
  .grid-productos2 {
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
  }
  .grid-productos3 {
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
  }
  .grid-productos4 {
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
  }
  .productos-tienda-final h2 {
    font-family: cursive;
    font-size: 25px;
    text-shadow: 2px 2px 5px #333;
    text-decoration: underline;
  }
  .footer {
    width: 100%;
    padding: 40px 0;
    height: auto;
    background: #65946F;
    color: #000000;
  }
  /*-------------------------------------------------------------*/
  /*pagina 3 CONSEJOS*/
  header .logo img {
    align-items: center;
    height: 200px;
  }
  .container-consejos {
    display: none;
  }
  .encabezado {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .pag-consejos h1 {
    font-size: 20px;
  }
  .texto-consejos-final {
    font-size: 20px;
    padding: 10px;
  }
  .texto-consejos-final h2 {
    display: none;
  }
  .texto-consejos-final h4 {
    font-size: 18px;
    text-align: start;
  }
  .container h3 {
    font-size: 20px;
  }
  .contacts {
    padding: 50px;
  }
  .location {
    padding: 50px;
  }
  .social {
    padding: 50px;
  }
  /*----------------------------------------------------------------------*/
  .nosotros-titulo {
    font-size: 40px;
  }
  .nosotros {
    padding: 0;
    font-size: 25px;
    text-align: start;
    line-height: none;
  }
  .nosotros h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
  }
  .nosotros h3 {
    font-size: 30px;
    line-height: 50px;
  }
  .nosotros ul li {
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
  }
  /*-----------------------------------------------------*/
  .pag-contactos {
    width: 400px;
  }
  .correo {
    padding: 50px 0;
  }
  .redes-grid {
    padding: 50px 0;
  }
  .contactos-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ubicacion-grid {
    display: flex;
    flex-direction: column;
  }
  section .ubicacion-c {
    padding-left: 180px;
  }
  .pag-ubicacion h2 {
    font-size: 30px;
  }
  .formulario {
    width: 420px;
  }
  form {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .formulario .button {
    margin: 10px;
    font-family: cursive;
    width: 200px;
    background-color: rgba(77, 77, 77, 0.7725490196);
    color: #fff;
  }
  .formulario form input {
    font-size: 30px;
    border: #333 solid 4px;
    border-radius: 10px;
    width: 300px;
  }
  section .ubicacion-1 {
    padding: 50px;
  }
  section .ubicacion-c {
    padding: 50px;
  }
}
@media (max-width: 320px) {
  nav ul {
    font-size: small;
  }
  .promo {
    padding: 20px;
  }
  .productos img {
    width: 100%;
    height: auto;
  }
  section .img-consejos1 {
    width: 100%;
    height: auto;
  }
  .consejos-1 p {
    text-align: center;
    font-size: 30px;
    padding: 10px;
  }
  .boton-vermas {
    padding: 5px 10px;
    font-size: small;
  }
  .container {
    flex-direction: column;
    text-align: center;
  }
  /*--------------------------------------------------------*/
  .grid-productos, .grid-productos2, .grid-productos3, .grid-productos4 {
    gap: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .grid-productos img, .grid-productos2 img, .grid-productos3 img, .grid-productos4 img {
    width: 150px;
    height: 150px;
    margin: 20px;
  }
  .grid-productos p, .grid-productos2 p, .grid-productos3 p, .grid-productos4 p {
    font-size: 20px;
  }
  .h3-productos {
    padding: 40px;
    font-size: 18px;
  }
  .grid-productos {
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
  }
  .grid-productos2 {
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
  }
  .grid-productos3 {
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
  }
  .grid-productos4 {
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
  }
  .productos-tienda-final h2 {
    font-family: cursive;
    font-size: 20px;
    text-shadow: 2px 2px 5px #333;
    text-decoration: underline;
  }
  .boton-tienda {
    padding: 20px 50px;
    font-size: 20px;
    height: 30px;
  }
  .footer {
    width: 100%;
    padding: 40px 0;
    height: auto;
    background: #65946F;
    color: #000000;
  }
  /*--------------------------------------------------------------------*/
  header .logo img {
    align-items: center;
    height: 200px;
  }
  .container-consejos {
    display: none;
  }
  .encabezado {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .pag-consejos h1 {
    font-size: 20px;
  }
  .texto-consejos-final {
    font-size: 20px;
    padding: 10px;
  }
  .texto-consejos-final h2 {
    display: none;
  }
  .texto-consejos-final h4 {
    font-size: 18px;
    text-align: start;
  }
  .container h3 {
    font-size: 15px;
  }
  .container p {
    font-size: 10px;
  }
  .contacts {
    padding: 50px;
  }
  .location {
    padding: 50px;
  }
  .social {
    padding: 50px;
  }
  /*--------------------------------------------------------------*/
  .nosotros-titulo {
    font-size: 40px;
  }
  .nosotros {
    padding: 0;
    font-size: 25px;
    text-align: start;
    line-height: none;
  }
  .nosotros h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
  }
  .nosotros h3 {
    font-size: 30px;
    line-height: 50px;
  }
  .nosotros ul li {
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
  }
}

/*# sourceMappingURL=style.css.map */
