@media (max-width: 768px) {

    header {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    nav ul {
        padding-right: 0;
        gap: 10px;
    }
    .promo {
        display: none;
        width: 100%;
        padding: 100px;
    }

    .productos {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding: 20px;
        text-align: center;
        margin: 0;
}
    .productos img {
        width: 200px;
        height: 200px;
    }
    .consejos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .consejos img{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .consejos p{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .consejos-1 p{
        font-size: 10px;
    }

    /*----------------------------------------*/
    .grid-productos, .grid-productos2, .grid-productos3, .grid-productos4 {
        gap: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        img {
            width: 250px;
            height: 250px;
            margin: 40px;
        }
        p{
            font-size: 20px;
        }
    }
    .h3-productos{
        padding: 40px;
        font-size: 30px;
    }
    
        
        .grid-productos{
            grid-template-columns: 350px  350px;
            grid-template-rows: 1fr 1fr ;
            }
            .grid-productos2{
                grid-template-columns: 350px 350px ;
                grid-template-rows: 1fr 1fr ;
            }
            
            .grid-productos3{
                grid-template-columns: 350px 350px ;
                grid-template-rows: 1fr 1fr ;
            }
            
            .grid-productos4{
                grid-template-columns: 350px 350px ;
                grid-template-rows: 1fr 1fr ;
            } 


            /*-----------------------------------------*/
            .container-consejos{
                display: none;
            }

        .encabezado{
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
        }


        .container{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .container h3{
            font-size: 20px;
        }
        .contacts{
            padding: 25px;
        }
        .location{
            padding: 25px;
        }
        .social{
            padding: 25px;
        }

/*-----------------------------------------------------------*/


        .nosotros-titulo{
            justify-content: start;
        }

        /*pagina 5 CONTACTOS*/

        .pag-contactos{
            width: 700px;
        }
        .formulario{
            width: 700px;
        }


        .contactos-grid{
        display: flex;
        flex-direction: column;
        width: 100%;
        }


        .contactos-grid{
            display: grid;
            width: 100%;
            grid-template-columns: 700px ;
            grid-template-rows: 1fr;
            grid-template-areas:
            "p1"
            "c2"
            "r1"
            ;
        }
        .pag-contactos{
            grid-area: p1;
        }
        .correo{
            grid-area: c2;

        }
        .redes-grid{
            grid-area: r1;
        }






            section .ubicacion-c {
                padding-left: 180px ;
        
        }
        .ubicacion-grid{
            display: grid;
            width: 100%;
            grid-template-columns: 700px;
            grid-template-rows: 1fr ;
        
            grid-template-areas:
            "p1"
            "c2"
            "r1"
            ;
        }

        .pag-ubicacion h2{
            font-size: 40px;
            grid-area: p1;

        }
        .ubicacion-1{
            grid-area: c2;
        }
        .ubicacion-c{
            grid-area: r1;
        }


        }