@media (max-width: 768px) {
    header {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    nav ul {
        padding-right: 0;
        gap: 10px;
    }
    .promo {
        padding: 100px;
    }
    .productos {
        flex-direction: column;
        align-items: center;
    }
    .productos img {
        width: 200px;
        height: 200px;
    }
    .consejos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .consejos img{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .consejos p{
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    /*----------------------------------------*/
    .grid-productos, .grid-productos2, .grid-productos3, .grid-productos4 {
        gap: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        img {
            width: 250px;
            height: 250px;
            margin: 40px;
        }
        p{
            font-size: 20px;
        }
    }
    .h3-productos{
        padding: 40px;
        font-size: 30px;
    }
    
        
        .grid-productos{
            grid-template-columns: 400px 400px ;
            grid-template-rows: 1fr 1fr ;
            }
            .grid-productos2{
                grid-template-columns: 400px 400px ;
                grid-template-rows: 1fr 1fr ;
            }
            
            .grid-productos3{
                grid-template-columns: 400px 400px ;
                grid-template-rows: 1fr 1fr ;
            }
            
            .grid-productos4{
                grid-template-columns: 400px 400px ;
                grid-template-rows: 1fr 1fr ;
            } 


            /*-----------------------------------------*/
            .container-consejos{
                display: none;
            }

        .encabezado{
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
        }


        .container{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .container h3{
            font-size: 20px;
        }
        .contacts{
            padding: 50px;
        }
        .location{
            padding: 50px;
        }
        .social{
            padding: 50px;
        }

/*-----------------------------------------------------------*/


        .nosotros-titulo{
            justify-content: start;
        }

        /*pagina 5 CONTACTOS*/

        .pag-contactos{
            width: 700px;
        }
        .formulario{
            width: 700px;
        }


        .contactos-grid{
        display: flex;
        flex-direction: column;
        width: 100%;
        }
        .ubicacion-grid{
            display: flex;
            flex-direction: column;
            }
            section .ubicacion-c {
                padding-left: 180px ;
        
        }
        .pag-ubicacion h2{
            font-size: 50px;
        }
        }