
    .productos {
        width: 100%;
        height: max-content;
        padding: 20px;
        text-align: center;

        h3 {
            font-family: $primary-font;
            font-size: x-large;
            text-decoration: underline;
        }

        h2 {
            margin: 50px;
            font-size: xx-large;
            padding: 10px;
            text-shadow: 2px 2px 5px $primary-text-color;
        }

        img {
            width: 300px;
            height: 300px;
            border-color: gray;
            border-style: solid;
            border-radius: 50%;
            object-fit: cover;
            margin: 50px;
        }

        p {
            margin: 10px 0 0;
        }
    }



    .productos a,button:hover{
        transform: scale(1.2);
        filter: drop-shadow(2px 2px 6px rgba(39, 255, 10, 0.349));
        transform: all 3000ms cubic-bezier(.32,.44,.79,.96);
    }


    .boton-vermas,
.boton-tienda {
    padding: 20px 40px;
    background: $primary-bg-color;
    color: #fff;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    font-family: $primary-font;
    font-size: 20px;
    text-shadow: $button-shadow;
}


    .consejos{
        width: 100%;
        height: auto;

        h2{
            font-family: "Montserrat", sans-serif;
            font-size: xx-large;
            margin: 100px;
            padding-top: 50px;
            text-align: center;
            text-decoration:underline;
        }
        .img-consejos1{
            display: flex;
            justify-content: start;
            height: 400px;
            width: 750px;
            float: left;
        }
        .consejos-1{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            p{
                margin: 0;
                padding: 100px 0 70px 100px;
                font-family: "Montserrat", sans-serif;
                font-size: 30px;
                text-align: center;
            }
        }

        .consejos2{
            gap: 20px;
            p{
                margin: 0;
                padding: 100px 0 70px 100px;
                font-family: "Montserrat", sans-serif;
                font-size: 30px;
                text-align: center;
            }
            h3{
                font-size:30px;
                padding: 200px 50px 50px;
                text-align: center;
                text-decoration: underline;
            }
        }

        .img-consejos2{
            display: flex;
            justify-content: center;
            height: 400px;
            width: 750px;
        }
    }
